*, *:before, *:after {
  box-sizing: border-box;
}

html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ECEAEA;
  font-family: sans-serif;
}

header{
	position: fixed;
	height: 60px;
	width: 100%;
	background: #e03e52;
	box-shadow: 0 0 25px 0 black;
	top: 0;
	left: 0;
	margin-bottom: 10px;
	
}

header *{
	display: inline;
}

footer{
	clear: both;
	height: 3em;
	margin: 0;
	padding: 1em;
	text-align: center;
	background: #e03e52;
	color: #FFFFFF;
}

header h1{
	margin: 10px;
}

header li{
	margin: 20px;
}

header p{
	margin: 10px;
}

header a{
	text-decoration: none;
	color: black;
}

header a:hover{
	color: #FDFFFC
}


.errors-box{
	display: inline-block;
	border: 2px solid red;
	color: red;
	padding: 1em;
	margin-bottom: 1em;
	margin-top: 100px;
}

.errors-box ul{
	margin-bottom: 0;
	padding-left: 1em;
}

/* Forms */

form{
	margin: 100px 10px;
	border: 2px solid black;
	float: left;
	width: 100%;
	background: #457B9D;
	text-align: center;
}

form input, form label, form p, form button{
	padding: 5px;
	margin: 5px;
	display: inline-block;
	width: 100%;
	
}


.form-container{
	width: 50%;
	margin: 100px auto;
}

.create-new-form{
	
}

form h1{
	text-align: center;
	width: 100%;
	color:#fff;
}

form input[type=text]{
	padding: 10px;
	margin: 10px 0px;
	box-shadow:0 0 8px 2px rgba(0,0,0,0.06);
	border-radius:8px;
	width: 50%;
}

form input[type=password]{
	padding: 10px;
	margin: 10px 0px;
	box-shadow:0 0 8px 2px rgba(0,0,0,0.06);
	border-radius:8px;
	width: 50%;
}

form textarea{
	padding: 10px;
	margin: 10px 0px;
	box-shadow:0 0 8px 2px rgba(0,0,0,0.06);
	border-radius:8px;
	width: 50%;
	height: 200px;
}

form input[type=submit]{
	appearance: none;
	-webkit-appearance: none;
	
	padding:10px;
	border:none;
	background-color:#E63946;
	color:#fff;
	font-weight:600;
	border-radius:5px;
	width:10%;
}

/* Tables */

table {
  border-collapse: collapse;
  vertical-align: top;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 200px;
}

table tr td {
  border: 1px solid #999999;
  padding: 3px;
}

table tr th {
  border: 1px solid #F28482;
  background: #00A5CF;
  color: white;
  text-align: left;
  padding: 3px;
}

table h1{
	margin: 100px auto 5px auto;
}

.table-container{
	width: 100%;
	margin: 100px auto;
}

/* Buttons */

.viewcategories{
	width: 100px;
	padding: 10px;
	margin: 10px;
	text-align: center;
	background: #00A5CF;
	text-decoration: none;
	color: black;
}

.viewcategories:hover{
	background: #e03e52;
}

.create-new-button{
	width: 100px;
	padding: 10px;
	margin: 10px auto 5px auto;
	text-align: center;
	background: #e03e52;
}

.create-new-admin{
	width: 100px;
	padding: 10px;
	margin: 100px auto 0px auto;
	text-align: center;
	background: #00A5CF;
}

.create-new-admin a{
	text-decoration: none;
	color: black;
}

.create-new-admin:hover{
	background: #e03e52;
}

.create-new-button a{
	text-decoration: none;
	color: black;
}

.create-new-button:hover{
	background: #00A5CF;
}

.view-post-btn{
	
}

/* View Post (view.php) */
.view-post-container{
	background: #9E829C;
	width: 60%;
	margin-collapse: none;
	margin: 100px auto;
}

.view-post-title-container{
	padding: 15px;
	
}

.view-post-container a{
	text-decoration: none;
	color: white;
}

.view-post-container a:hover{
	color: black;
}

.view-post-title-container h1{
	margin: 0px 0px 10px 0px;
}

.view-post-title-container h2{
	margin: 0px 0px 15px 0px;
}

.view-post-author{

}

.view-post-content-container{
	padding: 15px;
}

/* View Tag (view.php) */
.view-tag-container{
	/*background: #FFF;*/
	margin: 100px auto;
	margin-collapse: none;
	text-align: center;
}

.view-tag-name-container{
	padding: 15px;
}

.view-tag-name-container h1{
	margin: 0px 0px 10px 0px;
}

.view-tag-name-container p{
	margin: 0px 0px 15px 0px;
}

.view-tag-content-container{
	padding: 15px;
}

/* List of posts (posts.php) */
.all-posts-container{
	background: #9E829C;
	margin: auto;
	padding: 10px;
	width: 70%;
	margin-top: 100px;
	margin-bottom: 40px;
}

.all-posts-container-by-tag{
	background: #9E829C;
	margin: 25px auto;
	padding: 10px;
	width: 70%;
}

.container-header{
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.container-subhead{
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.post-container{
	background: #FDFFFC;
	margin: 10px;
}

.post-container a{
	text-decoration: none;
	color: black;
}

.post-container a:hover{
	color: #00A5CF;
}

.post-top-row{
	padding: 10px;
}

.post-bottom-row{
	padding: 10px;
}

/* List of tags for public view (viewcategories.php) */
.all-tags-container{
	background: #9E829C;
	margin: auto;
	padding: 10px;
	width: 70%;
	margin-top: 100px;
	margin-bottom: 40px;
}

.all-tags-container a{
	text-decoration: none;
	color: black;
}

.all-tags-container a:hover{
	color: #00A5CF;
}

.tags-container-header{
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.tag-container{
	background: #FDFFFC;
	margin: 10px;
}

.tag-top-row{
	padding: 10px;
}

.tag-bottom-row{
	padding: 10px;
}