*, *:before, *:after {
  box-sizing: border-box;
}

html{
  height: 100%;
  width: 100%;
}

body{
  height: 980px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #F7EDE2;
}

footer{
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

/* Forms */

.create-new-form{
	background: #457B9D;
	padding: 10px;
	width: 50%;
	margin: auto;
	text-align: center;
}

.create-new-form h1{
	text-align: center;
	width: 100%;
	color:#fff;
}
.create-new-form input[type=text]{
	padding: 10px;
	margin: 10px 0px;
	box-shadow:0 0 8px 2px rgba(0,0,0,0.06);
	border-radius:8px;
	width: 50%;
}

.create-new-form input[type=submit]{
	appearance: none;
	-webkit-appearance: none;
	
	padding:10px;
	border:none;
	background-color:#E63946;
	color:#fff;
	font-weight:600;
	border-radius:5px;
	width:10%;
}

/* Tables */

table {
  border-collapse: collapse;
  vertical-align: top;
  width: 100%;
}

table tr td {
  border: 1px solid #999999;
}

table tr th {
  border: 1px solid #F28482;
  background: #E63946;
  color: white;
  text-align: left;
}

/* Buttons */
div.create-new-button{
	margin: 10px;
}

/* View Post (view.php) */
.view-post-container{
	background: #FFF;
	width: 60%;
	margin: auto;
	margin-collapse: none;
}

.view-post-title-container{
	padding: 15px;
	
}

.view-post-title-container h1{
	margin: 0px 0px 10px 0px;
}

.view-post-title-container h2{
	margin: 0px 0px 15px 0px;
}

.view-post-author{

}

.view-post-content-container{
	padding: 15px;
}

/* View Tag (view.php) */
.view-tag-container{
	background: #FFF;
	width: 60%;
	margin: auto;
	margin-collapse: none;
}

.view-tag-name-container{
	padding: 15px;
	
}

.view-tag-name-container h1{
	margin: 0px 0px 10px 0px;
}

.view-tag-name-container p{
	margin: 0px 0px 15px 0px;
}

.view-tag-content-container{
	padding: 15px;
}

/* List of posts (posts.php) */
.all-posts-container{
	background: #4ecdc4;
	margin: auto;
	padding: 10px;
	width: 70%;
}

.all-posts-container-by-tag{
	background: #4ecdc4;
	margin: 25px auto;
	padding: 10px;
	width: 70%;
}

.container-header{
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.container-subhead{
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.post-container{
	background: #f7fff7;
	margin: 10px;
}

.post-top-row{
	padding: 10px;
}

.post-bottom-row{
	padding: 10px;
}

/* List of tags for public view (viewcategories.php) */
.all-tags-container{
	background: #4ecdc4;
	margin: auto;
	padding: 10px;
	width: 70%;
}

.tags-container-header{
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.tag-container{
	background: #f7fff7;
	margin: 10px;
}

.tag-top-row{
	padding: 10px;
}

.tag-bottom-row{
	padding: 10px;
}